


<div class="dropdown">
    <li class="btncolor text-light btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
       Filter
    </li>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
       
        <li><a class="dropdown-item" asp-controller="ElectronicItem" asp-action="SortList" asp-route-Id = "1" >SortBy Lowest </a></li>
        <li><a class="dropdown-item" asp-controller="ElectronicItem" asp-action="SortList" asp-route-Id = "2" >SortBy Highest </a></li>  
    </ul>
</div>

